body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0;
    width: 50vw;
}

h2{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input[type='text']{
    width: 20em;
}

textarea{
    resize: none;
    width: 50%;
    height: 50%;

}

input[type='radio']{
    width: auto;
    margin-right: 1em;
}