/*
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px 20px; 
    background: url('/img/seta.png') no-repeat left center;
}
*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    background: url('/img/menu.png') no-repeat left;
    text-decoration: none;
    color: black;
    text-indent: 40px;
    line-height: 40px;

}

ul a:hover{
    background-position: right; 
    color: white;
}

#home .home a, #sobre .sobre a{
    background-position: right; 
    color: white;
}

