body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
}

.marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

.conteudo{
    width: 520px;
    float: right;
}

.conteudo-principal{
    float: left;
    width: 320px;
}

.conteudo-secundario{
    float: right;
    width: 180px;
    background: #d1d1d1;
    padding: 10px;
}

.navegacao{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #b1b1b1;
}

.navegacao ul{
    list-style: none;
}

.navegacao li a{
    text-decoration: none;
}

.rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}